/*--------Fonte--------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*--------------Variáveis Globais-------------*/
:root {
    --cor-primaria: #FF5964;
    --cor-primaria-escura: #373F51;
    --cor-bg: #f5f7fa;
    --cor-branco: #ffffff;
    --cor-borda: #ddd;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-texto: #333;

    --fonte:'Roboto', sans-serif;
    
    --raio: 0.8rem;
    --transition: 0.3s ease;
}


/**------resert css------**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**------body------**/
body{
    font-family: var(--fonte);
    background: #ff0000;
    background: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%, rgba(19, 7, 242, 1) 49%, rgba(195, 0, 255, 1) 100%);
}